<a href="https://material.angular.io/components/table/examples">Data table with sorting, pagination, and filtering!</a>
<p>
  upgrades works!
</p>

<h2 class="mat-title">Upgrades</h2>

<table class="global-upgrade-table mat-elevation-z1" mat-table [dataSource]="visibleGlobalUpgrades()">
  <ng-container matColumnDef="globalUpgrade">
    <th mat-header-cell *matHeaderCellDef>Buy</th>
    <td mat-cell *matCellDef="let current">
      <button mat-button (click)="upgrade.buyGlobalUpgrade(current, state.player)">
        <span>
          {{ state.player.globalUpgrades[current] }} {{ data.globalUpgrades[current].name }}: {{ data.globalUpgrades[current].description }}
        </span>
        <span>
          {{ data.globalUpgrades[current].price.price * upgrade.priceMultiplier(current, state.player) }} {{ data.globalUpgrades[current].price.resource }}
        </span>
      </button>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let rowData; columns: ['globalUpgrade']"></tr>
</table>

<ng-container *ngFor="let slot of state.player.elementSlots">
  <table class="upgrade-table mat-elevation-z1" mat-table [dataSource]="visibleUpgrades(slot, state.player)">
    
    <ng-container matColumnDef="upgrade">
      <td mat-cell *matCellDef="let current">
        <button mat-button (click)="upgrade.buyAll(state.player, slot.upgrades, visibleUpgrades(slot, state.player), data.upgrades, data.elements[slot.element].main)">
          <span>
            {{ data.upgrades[current].name }}: {{ data.upgrades[current].description }}
          </span>
          <span>
            {{ data.upgrades[current].price }} {{ data.elements[slot.element].main }}
          </span>
        </button>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let rowData; columns: ['upgrade']"></tr>
  </table>
</ng-container>