<!-- <p>
  generator-table works!
</p> -->
<!-- {{ slot.generators | entries }}<br> -->
<!-- {{ slot.element.name }}
<ul>
  <ng-container *ngFor="let gen of slot.visibleGenerators()">
    <li>
      {{gen.name}} {{gen.getCost()}} {{gen.power}} {{gen.num}}
      <button mat-button (click)="slot.purchase(gen, 1)">Purchase</button>
    </li>
  </ng-container>
</ul> -->

<h2 class="mat-title">{{slot.element.name}}</h2>
<div class="mat-subheading-2">{{slot.rate}} H/s</div>
<ul class="mat-body">
  <li *ngFor="let ratio of slot.element.ratios | entries">{{ratio[0].name}}: {{100*ratio[1] | number:'2.4-4'}}%</li>
</ul>

<table class="generator-table mat-elevation-z1" mat-table [dataSource]="slot.visibleGenerators()">
  <ng-container matColumnDef="genName">
    <th mat-header-cell *matHeaderCellDef>Generator</th>
    <td mat-cell *matCellDef="let gen">{{gen.name}}</td>
  </ng-container>

  <ng-container matColumnDef="genProd">
    <th mat-header-cell *matHeaderCellDef>{{slot.element.symbol}}/s</th>
    <td mat-cell *matCellDef="let gen">{{gen.getBaseRate()}}</td>
  </ng-container>

  <ng-container matColumnDef="genNumber">
    <th mat-header-cell *matHeaderCellDef>Number</th>
    <td mat-cell *matCellDef="let gen">{{gen.num}}</td>
  </ng-container>

  <ng-container matColumnDef="genTotalProd">
    <th mat-header-cell *matHeaderCellDef>Total H/s</th>
    <td mat-cell *matCellDef="let gen">{{gen.getTotalRate()}}</td>
  </ng-container>

  <ng-container matColumnDef="genPrice">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let gen">{{gen.getCost()}}</td>
  </ng-container>

  <ng-container matColumnDef="genBuy">
    <th mat-header-cell *matHeaderCellDef>Buy</th>
    <td mat-cell *matCellDef="let gen">
      <button mat-button (click)="slot.purchase(gen, 1)">Buy</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
  <tr mat-row *matRowDef="let rowData; columns: dataColumns"></tr>
</table>
