@import '../theme.scss';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}
mat-toolbar {
    z-index: 4;
}

mat-sidenav {
    background: mat-color($primary);
    color: white;
    padding: 4px;
    z-index: 2;
    width: 300px;
}

mat-sidenav-content {
    padding: 16px;
}

.spacer {
    flex-grow: 1;
}

.active {
    background: mat-color($accent);
}

// span a {
//     background: mat-color($warn);
// }

.name-card {
    margin-right: 8px;
    // display: flex;
    // flex-direction: column;
    position: relative;
    >span {
        position: absolute;
        font-size: 50%;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
    }
}

mat-sidenav-container {
    flex-grow: 1;
}