<mat-toolbar class="mat-elevation-z4" color="primary">
    <span class="name-card">
        <h1 class="mat-display-1">Nucleosynth</h1>
        <span class="mat-caption">v{{version}}</span>
    </span>
    <a mat-button [routerLink]="['/generators']" routerLinkActive="active">Generators</a>
    <a mat-button [routerLink]="['/upgrades']" routerLinkActive="active">Upgrades</a>
    <!-- <span *ngIf="true || state.player.unlocks.exoticGate"><a mat-button [routerLink]="['/exotic']" routerLinkActive="active">Exotic</a></span> -->
    <!-- <span *ngIf="true || state.player.unlocks.darkGate"><a mat-button [routerLink]="['/dark']" routerLinkActive="active">Dark</a></span> -->
    <!-- <span *ngIf="true || state.player.unlocks.ion"><a mat-button [routerLink]="['/redox']" routerLinkActive="active">Redox</a></span> -->
    <!-- <span *ngIf="true || state.player.unlocks.reactionGate"><a mat-button [routerLink]="['/reactions']" routerLinkActive="active">Reactions</a></span> -->
    <!-- <span *ngIf="true || state.player.unlocks.fusionGate"><a mat-button [routerLink]="['/fusion']" routerLinkActive="active">Fusion</a></span> -->
    <!-- <span *ngIf="true || state.player.unlocks.tableGate"><a mat-button [routerLink]="['/elements']" routerLinkActive="active">Elements</a></span> -->
    <span class="spacer"></span>
    <!-- <a mat-button [routerLink]="['/achievements']" routerLinkActive="active">Achievements</a> -->
    <!-- <a mat-button [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a> -->
    <!-- <a mat-button [routerLink]="['/statistics']" routerLinkActive="active">Statistics</a> -->
    <!-- <a mat-button [routerLink]="['/options']" routerLinkActive="active">Options</a> -->
    <a mat-button>Button</a>

</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" class="mat-body mat-elevation-z2">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-loader *ngIf="state.loading"></app-loader> -->