<!-- <button mat-button (click)="coreLoop.pause()">pause</button>
<button mat-button (click)="coreLoop.play()">play</button>
{{coreLoop.tick}}<br>
{{coreLoop.time}}<br>
{{coreLoop.loop$ | async | json}}<br>
<button mat-button (click)="data.setConfig('debug', true)">Debug on</button>
<button mat-button (click)="data.setConfig('debug', false)">Debug off</button>
<br>
{{data.config$ | async | json}}<br>
<button mat-button (click)="data.setConfig('autosaveDelay', 1000)">Autosave 1s</button>
<button mat-button (click)="data.setConfig('autosaveDelay', 5000)">Autosave 5s</button> -->

<!-- <a href="https://material.angular.io/components/expansion/overview">mat-expansion-panel</a>
<p>
  sidebar works!
</p> -->

<!-- {{stateService.player.elementSlots | json}}<br>
{{activeElements(stateService.player) | json}}<br>
{{visibleResources(stateService.player) | json}}<br>
{{data | json}}<br> -->

<div *ngFor="let element of activeElements()">
   <!-- {{element | json}} -->
  <!-- <div *ngFor="let key of visibleResources(element)">
    {{key}} - {{stateService.player.resources[key]}}
  </div> -->
  <table mat-table [dataSource]="visibleResources(element)" class="mat-elevation-z4" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let resource">{{resource.name}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let resource">{{resource.quantity | number:'1.0-0'}}</td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="element-description">
            Boople snooter. {{element}}! Fancy stuff!
          </div>
        </div>
      </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement == element ? '' : element"></tr>
    <tr mat-row *matRowDef="let element; columns: ['detail']" class="detail-row"></tr>
  </table>

</div>
