 @import '../../../theme.scss';
 
 :host {
    min-width: 300px;
 }
 
 table.mat-table {
    margin-bottom: 16px;
    background: mat-color($primary, darker);
    color: white;
    width: 100%;
    border: 1px solid mat-color($primary);
 }

 tr:last-child td {
   border-bottom-width: 0;
 }

td.mat-cell{
  border-color: mat-color($primary);
}

td {
    color: white;
}
tr.detail-row {
  height: 0;
}


tr.element-row:not(.expanded-row):hover {
  background: mat-color($primary, lighter);
}

tr.element-row:not(.expanded-row):active {
  background: mat-color($primary, lighter);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid mat-color($primary, lighter);
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
