<!-- slot: {{ slot | json }}<br> -->

<ng-container *ngIf="slot; else noSlot">

  <h2 class="mat-title">{{slot.element}}</h2>
  <div class="mat-subheading-2">{{genService.elementProduction(state.player, slot)}} H/s</div>

  <table class="generator-table mat-elevation-z1" mat-table [dataSource]="genService.visibleGenerators(slot)">
    <ng-container matColumnDef="genName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let gen">{{data.generators[gen].name}}</td>
    </ng-container>

    <ng-container matColumnDef="genProd">
      <th mat-header-cell *matHeaderCellDef>Production</th>
      <td mat-cell *matCellDef="let gen">{{genService.generatorProduction(state.player, gen, slot)}}</td>
    </ng-container>

    <ng-container matColumnDef="genNumber">
      <th mat-header-cell *matHeaderCellDef>Number</th>
      <td mat-cell *matCellDef="let gen">{{slot.generators[gen]}}</td>
    </ng-container>

    <ng-container matColumnDef="genTotalProd">
      <th mat-header-cell *matHeaderCellDef>Total H/s</th>
      <td mat-cell *matCellDef="let gen">{{genService.tierProduction(state.player, gen, slot)}}</td>
    </ng-container>

    <ng-container matColumnDef="genPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let gen">{{genService.generatorTotalPrice(state.player, gen, slot, genService.buyAmount[state.player.options.buyIndex])}}</td>
    </ng-container>

    <ng-container matColumnDef="genBuy">
      <th mat-header-cell *matHeaderCellDef>Buy</th>
      <td mat-cell *matCellDef="let gen">
        <button mat-button (click)="genService.buyGenerators(state.player, gen, slot, genService.buyAmount[state.player.options.buyIndex])">Buy</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
    <tr mat-row *matRowDef="let rowData; columns: dataColumns"></tr>
  </table>
</ng-container>

<ng-template #noSlot>
  <button mat-button (click)="slot = state.player.elementSlots[0]">
    Pick slot
  </button>
</ng-template>
