// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
@include mat-core();
@import 'theme.scss';
@include angular-material-theme($theme);

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

p {
    margin: 0;
    padding: 0;
}