// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

$primary: mat-palette($mat-grey, 900, 700, 800);
$accent: mat-palette($mat-blue-grey, 600, A400, A700);
$warn: mat-palette($mat-red, A700);
$theme: mat-light-theme($primary, $accent, $warn);
